<div class="container-sm">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="text" class="form-control" id="produto" name="produtos" formGroupName="produtos" value="{{getProduto().nome}}">
              <label for="produto">Produto</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="produto-quantidade" aria-label="produto">
                <option *ngFor="let opt of getOption()" value="{{opt}}">{{opt}}</option>
              </select>
              <label for="produto-quantidade"></label>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" (click)="getProdutoAdicional()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
            </button>
          </div>

          <div>
            <table class="table" *ngIf="produtoAdicional">
              <tbody>
              <tr class="d-flex justify-content-between" *ngFor="let produto of produtos">
                <th scope="row">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="nomeProdutoAdicional" readonly value="{{produto.nome}}">
                    <label for="nomeProdutoAdicional">Produto</label>
                  </div>
                </th>

                <td class="justify-content-between">
                  <div class="form-floating">
                    <select class="form-select" id="produto-quantidade-adicional" aria-label="Floating label select example">
                      <option *ngFor="let opt of getOption()" value="{{opt}}">{{opt}}</option>
                    </select>
                    <label for="produto-quantidade-adicional"></label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Finalizar Pedido</button>
      </form>
    </div>
  </div>
</div>
