ng-sidebar-container {
  height: 100vh;
}

.ng-sidebar-container {
  display: block;
  width: 200px;
  border: 10px solid black;
}

::ng-deep .ng-sidebar {
  background-color: #242323;
  width: 250px;
  /*padding: 2em 3em;*/
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}
